* text=auto !eol
/can.py -text
/create-rrd -text
/graph.cgi -text
graphs/days.html -text
graphs/hours.html -text
graphs/minutes.html -text
graphs/style.css -text
graphs/weeks.html -text
/powermeterd -text
/update-graphs -text
