* text=auto !eol
/can.py -text
/create-rrd -text
/graph.cgi -text
graphs/can-days.html -text
graphs/can-hours.html -text
graphs/can-minutes.html -text
graphs/can-weeks.html -text
graphs/cool.css -text
graphs/cool.html -text
graphs/machines-days.html -text
graphs/machines-hours.html -text
graphs/machines-minutes.html -text
graphs/machines-months.html -text
graphs/machines-weeks.html -text
graphs/power-days.html -text
graphs/power-hours.html -text
graphs/power-minutes.html -text
graphs/power-months.html -text
graphs/power-weeks.html -text
graphs/style.css -text
/powermeterd -text
/update-graphs -text
